body {
    font-family: monospace;
    background-color: black;
    color: white;
}

#terminal {
    background-color: black;
    margin: auto;
    width: 65%;
    border: 3px solid white;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #terminal {
      width: 95%;
    }
}

#output {
    background-color: black;
    font-family: monospace;
    color: white;
    border: none;
    width: 100%;
    resize: none;
    height: 200px;
}

#output::selection {
    color: none;
}

#output:focus {
    outline-width: 0;
}

label {
    display: inline;
}

#input {
    font-family: monospace;
    background-color: black;
    width: 95%;
    color: white;
    border: none;
}

#input:focus {
    outline-style: none;
}