body {
    font-family: monospace;
    background-color:#010a0c;
    color: #21b0f3;
    margin-top: 35px;
}

#terminal {
    background-color: #020f13;
    margin: auto;
    width: 60%;
    border: 3px solid grey;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #terminal {
      width: 95%;
    }
}

#output {
    background-color: #020f13;
    font-family: monospace;
    color:#21b0f3;
    border: none;
    width: 100%;
    resize: none;
    height: 200px;
}

#output::selection {
    color: none;
}

#output:focus {
    outline-width: 0;
}

label {
    display: inline;
}

#input {
    font-family: monospace;
    background-color: #020f13;
    width: 95%;
    color: #21b0f3;
    border: none;
}

#input:focus {
    outline-style: none;
}